


img.userimage{
    border-radius: 100%;
    max-height: 95%;
    max-width: 80px;
    height: auto;
    width: auto;
    padding: 0px 10px;
    
}

div.bar{
    background-color: rgb(46, 46, 46);
    border-radius: 40px;
    height: 60px;
    width: 40%;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;


    scrollbar-color: grey;
    scrollbar-width: thin;

}

@media (max-width: 920px){

    div.bar{
        width: 93%;
    }
  
  
  }

